name: CI

on:
  push:
    branches:
      - main
      - "pull-request/[0-9]+"
      - "feat/ci-test"

env:
  CARGO_TERM_COLOR: always

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Rust
      uses: dtolnay/rust-toolchain@master
      
    - name: Run CI
      run: make ci

